# Exclude everything by default
*

# Exclusive include


!.gitignore

!.bashrc

!.config/

!.config/i3/
!.config/i3/**

.config/polybar/polybar-i3-windows/windows.log

!.config/polybar/
!.config/polybar/**
!.config/polybar/polybar-i3-windows/
!.config/polybar/polybar-i3-windows/**

!.config/zed/
!.config/zed/**

!.config/terminator/
!.config/terminator/**

!.i3-switcher-style.css
