.codex

home/USER/.config/tmux/plugins/

home/USER/.config/fuzzel/2fa.yml
home/USER/.config/fuzzel/snippets_closed.yml

home/USER/.config/zed/workspace/**
home/USER/.config/nvim/lazyvim.json

home/USER/.config/obs-studio/**
!home/USER/.config/obs-studio/basic/
!home/USER/.config/obs-studio/basic/profiles/
!home/USER/.config/obs-studio/basic/profiles/**
