/**
from awesomewm
theme.bg_normal     = "#222222"
theme.bg_focus      = "#535d6c"
theme.bg_urgent     = "#ff0000"
theme.bg_minimize   = "#444444"
theme.bg_systray    = theme.bg_normal

theme.fg_normal     = "#aaaaaa"
theme.fg_focus      = "#ffffff"
theme.fg_urgent     = "#ffffff"
theme.fg_minimize   = "#ffffff"

theme.useless_gap   = dpi(0)
theme.border_width  = 2
theme.border_normal = "#000000"
theme.border_focus  = "#535d6c"
theme.border_marked = "#91231c"
*/

@define-color dk_grey  #18181c;
@define-color lg_blue  #535d6c;
@define-color lg_grey  #5e6377;
@define-color lg_white  #aaaaaa;
@define-color lg_caret  #FFC996;

/**
 * App Window
 */
@define-color bg_color #222222;
@define-color window_bg @bg_color;
@define-color window_border_color @lg_blue;
@define-color prefs_backgroud @lg_white;

/**
  * Input
  */
@define-color selected_bg_color @lg_grey;
@define-color selected_fg_color @lg_white;
@define-color input_color @lg_white;
@define-color caret_color darker(@lg_caret);

/**
  * Result items
  */
@define-color item_name @lg_white;
@define-color item_text #fff;
@define-color item_box_selected @lg_blue;
@define-color item_text_selected @dk_grey;
@define-color item_name_selected @dk_grey;
@define-color item_shortcut_color @lg_white;
@define-color item_shortcut_shadow darker(@bg_color);
@define-color item_shortcut_color_sel @dk_grey;
@define-color item_shortcut_shadow_sel darker(@item_box_selected);

.app {
    background-color: @window_bg;
    border-color: @window_border_color;
    border-radius: 0;
    border-width: 2px;
}

.input {
    color: @input_color;
}

/**
  * Selected text in input
  */
 .input *:selected,
 .input *:focus,
 *:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);
    color: @selected_fg_color;
}

.item-text {
    color: @item_text;
}
.item-name {
    color: @item_name;
}

.selected.item-box {
    background-color: @item_box_selected;
    border-left: 1px solid @window_border_color;
    border-right: 1px solid @window_border_color;
}
.selected.item-box .item-text {
    color: @item_text_selected;
}
.selected.item-box .item-name {
    color: @item_name_selected;
}
.item-shortcut {
    color: @item_shortcut_color;
    text-shadow: 1px 1px 1px @item_shortcut_shadow;
}
.selected.item-box .item-shortcut {
    color: @item_shortcut_color_sel;
    text-shadow: 1px 1px 1px @item_shortcut_shadow_sel;
}

.prefs-btn {
    opacity: 0.8;
}
.prefs-btn:hover {
    background-color: @prefs_backgroud;
}

.no-window-shadow {
    margin: -20px;
}
